.galeriaLibros_contenedor{
    display: grid;
    grid-area: galeria;
    grid-template-columns: 42vh 42vh 42vh 42vh;
    grid-template-rows: 60vh 60vh;
    grid-gap: 10px;
    padding: 5px;
    .galeriaLibros__item{
        margin: 0;
        padding: 15px;
        width: 40vh;
        height: 60vh;
        background-color: rgb(234, 232, 235);
        .galeriaLibros__img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.3s ease all;
            &:hover{
                transform: scale(1.07);
            }
        }
    }
}

/*<img class="logo" src="../img/logogayatri.png" alt="">*/